*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background: url(./asstes/image/moon.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
    width: 400px;
    backdrop-filter: blur(5px);
    background-color: transparent;
    padding: 20px;
    
}
.container h1{
    color: #fff;
    text-align: center;
   margin-bottom: 10px;
}
form input[type="email"], form input[type="password"], .show,  form input[type="text"]{
    width: 100%;
    background-color: transparent;
    border: none;
    border: 1px solid #fff;
    outline: none;
    padding: 10px;
    font-size: 15px;
    margin: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #fff;   
    position: relative;
}
form input::placeholder{
    color: #fff;

}
.input-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-box i{
    color: #fff;
    font-size: 20px;
}
.check{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.check input[type="checkbox"]{
    margin: 8px;
}
.check label{
    color: #fff;
}
.check a{
    color: #fff;
    text-decoration: none;
}
.btn{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 15px;

}
p{
    text-align: center;
    color: #fff;
}
p a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
span{
    color: red; 
    margin-left: 30px;
    font-weight: bold;

}
.valid{
    color: green;
    margin-left: -10px;
    font-weight: bold;
}
input[type="checkbox"]{
    font-size: 10px;
}
small {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
#all-item{
    color: red; 
    text-align: left;
    font-weight: bold;
}