*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100hv;
   
}
.container{
    position: relative;
}
.clock{
    width: 500px;
    height:500px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 50%;
    position: relative;
    border: 2px solid rgb(125, 121, 121);
    display: flex;
    top: 70px;
    box-shadow: 0px 0px 0px 5px rgb(218, 206, 206);
}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
   text-align: center;
   font-weight: bold;
   font-size: 30px;
   display: inline;
}
.clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;

}
.clock::before{ 
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin-left:5px;
}
.hour-head,.min-head,.sec-head{
    --rotate: 0;
   left: 50%;
   bottom: 50%;
   position: absolute;
   transform: translate(-50%) rotate(calc(var(--rotate) * 1deg));
   transform-origin: bottom;
    
}
.hour-head{
   height: 150px;
    width: 7px;
    background-color: #fff;
}
.min-head {
    height: 200px;
    width: 7px;
    background-color: black;
}
.sec-head{
    height: 220px;
    width: 5px;
    background-color: blue;
}