*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: #3a4452;
    padding: 20px;
    border-radius: 10px;
}
.calculator input{
    background: transparent;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    font-size: 1.3rem;
    color: #fff;
    margin: 5px;
   border: none;
   box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
   cursor: pointer;

}
.calculator input:hover{
    color: #c8117f;
    transition: all 0.3s;
}

form input.equal{
    width: 135px;
}
form .display{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 20px 0;
}
form .display input{
    width: 100%;
    flex: 1;
    font-style: 40px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.1);
    border: none;
    outline: none;
    padding: 10px;
}
form .display input{
    color: #c8117f;
}